/.idea
/.vcode
/databases
/database
/media
# Logs and Cache on codeigniter
/apps/logs
/apps/application/cache
/apps/application/logs
application/cache/*
application/logs/*
*/cache/*
*/logs/*
# Log Dir
/cache
/cache/*
/media
/media/*
/logs
/logs/*
# logs dir on each domains
/domains/*/logs/*
# Media dir
/html/media/*
# HTACCESS and Config File
/html/.htaccess
/html/*.php
# Set Ignore Deposit

# Ignores Bin
/www/webbins
/www/webbins/*

# Editor OS
/.DS_Store
.DS_Store